// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

#root {
  min-height: 300vh;
}

#root, .stickynav-wrapper {
  max-width: to-rem(425);
  margin-left: auto;
  margin-right: auto;
}

#global-header {
  background-color: $brand-color;
  color: $system-white;
  @include clearfix;

  > *:last-child {
    margin-bottom: to-rem(14);
  }

  > *:first-child + * {
    margin-top: to-rem(9);
  }

  .header-content,
  .search-input {
    @include safearea(false);
  }

  .header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: to-rem(24);
  }

  @at-root
    .header-content
    .content-wrapper {
      display: flex;
      align-items: center;
  }

  @at-root
    .header-content
    .content-text {
      font-size: to-rem(34);
      font-weight: bold;
      line-height: to-rem(42);
      font-family: $inter-display;
      margin-left: to-rem(9);
  }

  @at-root
    .header-content
    .content-user-picture {
      background-color: $system-white;
      border-radius: 50%;
      width: to-rem(36);
      height: to-rem(36);
  }
}

