.search-input {
  border-radius: to-rem(11);
  line-height: 1.47025;
  padding: to-rem(6) to-rem(10);
}

.search-input-translucent {
  border-width: 0;
  border-color: transparent;
  background-color: #D75229;

  @include placeholder {
    color: rgba($system-white, .8);
  }

  &:focus {
    box-shadow: none;
    color: $system-white;
    border-color: transparent;
    background-color: #D75229;
  }
}