// Sticky bar
.stickynav {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
}

.stickynav-wrapper {
  display: flex;
  align-items: center;
  justify-content: stretch;
  font-size: to-rem($stickynav-bottom-fontSize);
  min-height: $stickynav-bottom-minHeight + em;
  background-color: $system-light;
  border-top: $separator-translucent-black;
}

.stickynav .sticky-item {
  display: flex;
  position: relative;
  justify-content: center;
  min-height: inherit;
  text-align: center;
  flex: 1 0 auto;
  color: $system-gray;

  &.active {
    color: $brand-color;
  }
}

.stickynav .content {
  margin: auto;
  margin-bottom: .6em;
}

.stickynav .icon,
.stickynav .text {
  line-height: 1.2;
  margin-left: auto;
  margin-right: auto;
}

.stickynav .icon {
  width: 2.4em;
  height: 2.4em;
  border-radius: .5em;
  background-color: currentColor;
}

.stickynav .text {
  font-weight: 500;
  letter-spacing: -.004em;
  margin-top: .3em;
  margin-bottom: 0;

  @at-root .stickynav .active .text {
    color: $brand-color;
  }
}

.stickynav .link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}